body {
  margin: 0;
  padding: 0;
}

.heading {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.meme-creation {
  background-color: #ececec;
  padding: 15px;
  border: 2px solid black;
}

.input {
  margin-bottom: 15px;
}

.col input {
  width: 100%;
}

.url {
}

.meme-section {
  margin: 20px;
}

.meme {
  position: relative;
  display: inline-block;
  margin: 10px;
  transition: 0.3s;
}

.meme:hover img {
  opacity: 0.2;
  transition: 0.3s;
}

.meme-text {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 36px;
  color: white;
  text-shadow: 0 0 5px black, 0 0 5px black, 0 0 5px black, 0 0 5px black;
  transition: 0.3s;
}

.top-text {
  position: absolute;
  top: 0;
}

.bottom-text {
  position: absolute;
  bottom: 0;
}

img {
  border-radius: 5%;
}

.garbage {
  /* transition: 1s; */
  position: absolute;
  top: 25px;
  left: 25px;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.meme:hover .garbage {
  transition: 0.3s;
  opacity: 1;
}

.meme:hover .meme-text {
  opacity: 0.2;
}
